body{
    font-family: 'Nato Sans', sans-serif;
    margin: 0em;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Fjalla One', sans-serif;
}
#titulo_ingreso{
    font-family: 'Fjalla One', sans-serif;
}
.cover{
    height: 400px;
    background-image: url("assets/dino_transmil.png");
    color: white;
    background-size: auto;
    background-position: center;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: darken;
}
.coverCI{
    height: 550px;
    background-image: url("assets/dino_coordinator.jpeg");
    color: white;
    background-size: contain;
    background-position: center;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: darken;
}
.coverC{
    height: 400px;
    background-image: url("assets/dino_coordinator.jpeg");
    color: white;
    background-size: contain;
    background-position: center;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: darken;
}
.nav-item{
    margin: 5px;
}
.navbar-brand{
    margin: 5px;
}
.card{
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 2px 4px 0 rgba(0,0,0,0.19);
}
.card-title{
    min-height: 3rem;
}
.card-text{
    min-height: 10rem;
}
.stripe-container, .slider-container{
    display: flex;
}
.stripe-container .card{
    width: 300px;
    flex-shrink: 0;
    margin-right: 1rem;
}
.product-stripe, .slider{
    overflow-x: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.slider{
    overflow-x: hidden;
}
.responsive-iframe{
    position: relative;
    padding-bottom: 56.25%;
}
.responsive-iframe iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.image-container{
    width: 100%;
    padding-top: 56.25%;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}
.slider-container{
    transform: translateX(0);
    animation: slider 10s infinite;
}
@keyframes slider{
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-100%);
    }
    45%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-200%);
    }
    70%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-300%);
    }
    95%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(0);
    }
}
.avatar{
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}
.wrapper{
    background: #ececec;
    padding: 0 20px 0 20px;
}
.mainI{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.row{
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}
.side-image-crud{
    background-image: url("assets/dino_cond.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
}
.side-image{
    background-image: url("assets/dino_transmi.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
}
img{
    width: 35px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text p{
    color: #fff;
    font-size: 18px;
}
i{
    font-weight: 400;
    font-size: 15px;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.input-box{
    width: 330px;
    box-sizing: border-box;
}
.input-box header{
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}
.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}
.input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}
.input-box .input-field label{
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}
.input-field .input:focus ~ label{
    top: -10px;
    font-size: 13px;
}
.input-field .input:valid ~ label{
    top: -10px;
    font-size: 13px;
    color: #5d5076;
}
.input-field .input:focus, .input-field .input:valid{
    border-bottom: 1px solid #743ae1;
}
.submit{
    border: none;
    outline: none;
    height: 45px;
    background: #ececec;
    border-radius: 5px;
    transition: .4s;
}
.submit:hover{
    background: rgba(37, 95, 156,0.9);
    color: #fff;
}
.signin{
    text-align: center;
    font-size: small;
    margin-top: 25px;
}
span a{
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .5s;
}
span a:hover{
    text-decoration: underline;
    color: #000;
}

@media only screen and (max-width: 768px){
    .side-image{
        border-radius: 10px 10px 0 0;
    }
    img{
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }
    .text{
        position: absolute;
        top: 70%;
        text-align: center;
    }
    .text p,i{
        font-size: 17px;
    }
    .row{
        max-width: 420px;
        width: 100%;
    }
}

.datos_consulta{
    font-weight: bold;
}