<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans&display=swap" rel="stylesheet">
    <title>Conductor</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-primary navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Ponti-Transmi</a>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Salir</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="coverC d-flex justify-content-center align-items-center flex-column">
            <h1>
                Ponti-Transmi
            </h1>
            <p>
                La mejor ruta a tu alcance<br>
            </p>      
            <p>
                <br>Gestiona y Coordina los Condutores y Buses
            </p>
        </div>
    </section>
    <section>
        <div class="wrapper">
            <div class="container mainI">
                <div class="row">
                    <div class="col-md-6 side-image-crud">
                        <!-------Image-------->
                        <img src="images/white.png" alt="">
                    </div>
                    <div class="col-md-2 right">
                         <div class="input-box">
                            <h1>Conductor</h1>
                            <p th:text="|Cedula: ${conductor.cedula}|"></p>
                            <p th:text="|Nombre: ${conductor.nombre}|"></p>
                            <p th:text="|Telefono: ${conductor.telefono}|"></p>
                            <p th:text="|Direccion: ${conductor.direccion}|"></p>
                            <table class="person-list">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Placa</th>
                                    <th>Modelo</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="p : ${conductor.getListadoBuses()}" th:if="${p.id}">
                                    <td th:text="${p.id}"></td>
                                    <td th:text="${p.placa}"></td>
                                    <td th:text="${p.modelo}"></td>
                                    <td>
                                        <a class="btn btn-outline-info" th:href="@{/transmilenio/delete/{id}(id=${p.id})}">Eliminar</a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                            <a class="btn btn-outline-info" th:href="@{/conductor/list}">Volver</a>

                         </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
</body>

</html>