<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans&display=swap" rel="stylesheet">
    <title>Coordinador</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body class="index-background">
    <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">Coordinador</a>
                    <ul class="nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Coordinador_List_Cond.html">Consultar Conductor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Coordinador_Agr_Cond.html">Agregar Conductor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Coordinador_Edit_Cond.html">Modificar Conductor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Coordinador_Elim_Cond.html">Eliminar Conductor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Coordinador_AsigBus_Cond.html">Asignar Bus A Un Conductor</a>
                        </li>
                    </ul>
                </nav>
    </header>
    <section>
        <div class="coverC d-flex justify-content-center align-items-center flex-column">
            <h2>
                Consulta un Conductor<br>
            </h2>
            <p></p>
            <form action="">
                <div class="d-flex">
                    <div class="flex-fill mr-2">
                        <input type="text" id="text_consultar" class="form-control" placeholder="Buscar Conductor">
                    </div>
                    <button type="submit" class="btn btn-outline-info">Buscar</button>
                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="wrapper">
            <div class="container mainI">
                <div class="row">
                    <div class="col-md-6 side-image-crud">
                        <!-------Image-------->
                        <img src="images/white.png" alt="">
                    </div>
                    <div class="col-md-6 right">
                             <table class="table">
                                 <thead class="thead-dark">
                                 <tr>
                                     <th scope="col">Nombre</th>
                                     <th scope="col">Cedula</th>
                                 </tr>
                                 </thead>
                                 <tbody>
                                 <tr th:if="${conductores.isEmpty()}">
                                     <td colspan="2"> No hay Conductores. </td>
                                 </tr>
                                 <tr th:each="p : ${conductores}" th:if="${p.id}">
                                     <td th:text="${p.nombre}"></td>
                                     <td th:text="${p.cedula}"></td>
                                 </tr>
                                 </tbody>
                             </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>